.img {
    width: 100%;
}

.header {
    width: 100%;
    height: 100px;
    background-color: bisque;
    position: sticky;
    top: 0;
}

.nav {
    text-align: center;
    font-size: xx-large;
}

/*Se le indica en que posicion absoluta se quede fijo. Va a funcionar solo si el contenedor del elemento tiene un height:; declarado (a excepcion del body). Se quedara fijo hasta que se haya hecho scroll a lo largo del heigth:; del contenedor. Overflow lo detiene.*/